<div class="container text-center text-uppercase h-100" style="height: 80vh !important;" data-bs-theme="dark">
    <div class="row h-100 justify-content-center align-items-center">
      
      <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <p class="text-left font-weight-bold">Register New User</p>
            <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="needs-validation">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text"  id="username" name="username" (blur)="Validate()" (keyup)="Validate()" [(ngModel)]="model.username" [class]="dynamicClass_username" placeholder="USERNAME" required/>             
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password"  id="password" name="password" (blur)="Validate()" (keyup)="Validate()" [(ngModel)]="model.password" [class]="dynamicClass" placeholder="PASSWORD" required />
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-light btn-block mb-4">
                Register
              </button>
  
              
            </form>
          </div>
        </div>
      </div>
      
      <app-toast-popup
          [error]="error"
          [showAlert]="showToast"
          (closeToast)="closeToast()"
        >
        </app-toast-popup>

    </div>
  </div>
  