@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .span-animation {
    animation: fadeIn 1s ease-in;
  }

  li {
    transition: opacity .5s ease-in;
  }
  
  .fadeOut {
    opacity: 0;
  }


  .completed {
    text-decoration: line-through;
  }
  
  .strikethrough {
    text-decoration: line-through;
  }